---
layout: default
permalink: /
---

.header
  | {% img rfa_logo.png %}
  h1.title Restavec Freedom Alliance
  h2.title Rescuing Child Slaves in Haiti and Transforming Lives

.content
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .l-box
        h3 The Situation in Haiti
        p In Haiti there are more than 300,000  children who serve as restavec - modern day slaves. These children are neglected and do not have a safe environment to live their childhood and mature. Unfortunately, this practice has been heavily integrated into the culture of Haiti for many years.
        button.pure-button.button-secondary Learn more about Restavec
    .pure-u-1.pure-u-md-1-2
      .l-box
        h3 Ways to Get Involved
        p We offer several team trips to Haiti each year. Our next trip will be from January 8-15, 2016. However, there are many other ways you can help like planning a community fundraiser or spreading the word about our cause online! Please contact us to learn more.
        button.pure-button.button-secondary Donate to our cause
