.pure-g
  .pure-u-1-1.pure-u-md-1-2.pure-u-xl-1-4
    .l-box
      h3 Recent Posts
      ul.entries
        | {% for post in site.posts limit: 3 %}
        li
          a[href="{{ post.url | prepend: site.baseurl }}"]
            h4
              | {{ post.title }}
          | {{ post.content | truncatehtml | truncatewords: 18 }}
        | {% endfor %}
  .pure-u-1-1.pure-u-md-1-2.pure-u-xl-1-4
    .l-box
      h3 Our Mission
      p Restavec Freedom Alliance is dedicated to providing relief for the Restavec children, children who are “given” to families and used as slaves in Haiti. Our mission is to offer a safe, stable, family centered environment for these children.
      p Restavec Freedom Alliance was founded in December 2010 and has since opened two homes in Chantal and Ducis, Haiti.
  .pure-u-1-1.pure-u-md-1-2.pure-u-xl-1-4
    .l-box
      h3 Contact Info
      strong Our location:
      p 17 Windham Green Road Windham, CT 06280
      strong Phone number:
      p +1 860 942 0904
      strong E-mail:
      p info@rfahaiti.org
  .pure-u-1-1.pure-u-md-1-2.pure-u-xl-1-4
    .l-box
      h3 Upcoming Events
      p Click
        <a href="{{ "/volunteer" | prepend: site.baseurl }}">here</a>
        for more information!
      h3 About Restavec
      p Did you know that in Haiti there are an estimated 300,000 children serving as child slaves? Learn more about the situation
        <a href="{{ "/restavec" | prepend: site.baseurl }}">here</a>.
.bottom
  p © 2010-2016 Restavec Freedom Alliance, BEM Inc. All rights reserved
