{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% if url_parts_size != 0 %}
  {% assign rm = url_parts | last %}
  {% assign base_url = page.url | replace: rm %}
{% else %}
  {% assign base_url = page.url %}
{% endif %}
<ul class="pure-menu-list">
{% for node in site.pages %}
  {% assign node_url_parts = node.url | split: '/' %}
  {% assign node_url_parts_size = node_url_parts | size %}
  {% assign filename = node_url_parts | last %}
  {% if node_url_parts_size == 2 and node.nav != "exclude" %}
      <li class="pure-menu-item">
      <a class="pure-menu-link{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
      {% if page.url contains node.url %}
        <ul class="pure-menu-list second-level">
        {% for node2 in site.pages %}
          {% if node2.url contains node.url and node2.url != node.url %}
            <li><a class="pure-menu-link" href='{{node2.url}}'>{{node2.title}}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
  {% endif %}
{% endfor %}
{% for num in (1...menu_level) %}
  </ul>
{% endfor %}
</ul>
