#menu .pure-menu-heading {
  white-space: normal;
  background-color: #5EA3B0;
}

.l-box {
  padding: 1em;
}

#main {
  a {
    color: #495D9F;
  }
}

#footer {
  background-color: #5EA3B0;
  color: white;
  line-height: 1.6em;
  border-top: 1px solid black;
  .entries {
    list-style-type: none;
    padding: 0;
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  .bottom {
    background-color: #3A8391;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 0.8em;
    line-height: 0.8em;
    text-align: center;
  }
}

.pure-menu-list .second-level {
  margin-left: 1em;
}

.button-secondary {
  background: #495D9F;
  color: white;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 10em;
    overflow: visible;
    padding: 1em 0.8em;
    transform: scale(1);
  }
}

#payment-message {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  color: white;
  text-align: center;
  cursor: default;
}
