---
layout: compress
---

doctype html
html
  |  {% include head.slim %}
  body
    #layout
      a.menu-link#menuLink[href="#menu"]
        span
      #menu
        |  {% include menu.slim %}
      #main
        |  {{ content }}
        #footer
          |  {% include footer.slim %}
    {% javascript ui.js %}
