---
layout: default
---

article.post[itemscope itemtype="http://schema.org/BlogPosting"]
  header.header
    h1[itemprop="name headline"]
      | {{ page.title }}
    p.post-meta
      time[datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"]
        | {{ page.date | date: "%b %-d, %Y" }}
      | {% if page.author %} •
      span[itemprop="author" itemscope itemtype="http://schema.org/Person"]
        span[itemprop="name"]
          | {{ page.author }}
      | {% endif %}
  .content[itemprop="articleBody"]
    |  {{ content }}
