---
title: Make a Donation
permalink: /donate/make-donation/
layout: page
---

form.pure-form.pure-form-stacked#donation-form
  fieldset
    legend Contact Information
    .pure-g
      .pure-u-1.pure-u-md-1-2
        label[for="contact-first-name"] first name
        input#contact-first-name.pure-u-23-24[type="text" required placeholder="John" name="contact-first-name"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-last-name"] last name
        input#contact-last-name.pure-u-23-24[type="text" required placeholder="Doe" name="contact-last-name"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-email"] e-mail
        input#contact-email.pure-u-23-24[type="email" required placeholder="john.doe@gmail.com" name="contact-email"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-confirm-email"] confirm e-mail
        input#contact-confirm-email.pure-u-23-24[type="email" required placeholder="john.doe@gmail.com"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-phone-number"] phone number (optional)
        input#contact-phone-number.pure-u-23-24[type="text" placeholder="123-456-7890" name="contact-phone-number"]
      br
      .pure-u-1.pure-u-md-1-2
        label[for="contact-address-1"] street address line 1 (optional)
        input#contact-address-1.pure-u-23-24[type="text" placeholder="123 Hickory Road" name="contact-address-1"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-address-2"] street address line 2 (optional)
        input#contact-address-2.pure-u-23-24[type="text" placeholder="Unit 2" name="contact-address-2"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-city"] city (optional)
        input#contact-city.pure-u-23-24[type="text" placeholder="Newsville" name="contact-city"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-state"] state (optional)
        select#contact-state.pure-u-23-24[name="contact-state"]
          option[value=""]
	        option[value="AL"] Alabama
	        option[value="AK"] Alaska
	        option[value="AZ"] Arizona
	        option[value="AR"] Arkansas
	        option[value="CA"] California
	        option[value="CO"] Colorado
	        option[value="CT"] Connecticut
	        option[value="DE"] Delaware
	        option[value="DC"] District Of Columbia
	        option[value="FL"] Florida
	        option[value="GA"] Georgia
	        option[value="HI"] Hawaii
	        option[value="ID"] Idaho
	        option[value="IL"] Illinois
	        option[value="IN"] Indiana
	        option[value="IA"] Iowa
	        option[value="KS"] Kansas
	        option[value="KY"] Kentucky
	        option[value="LA"] Louisiana
	        option[value="ME"] Maine
	        option[value="MD"] Maryland
	        option[value="MA"] Massachusetts
	        option[value="MI"] Michigan
	        option[value="MN"] Minnesota
	        option[value="MS"] Mississippi
	        option[value="MO"] Missouri
	        option[value="MT"] Montana
	        option[value="NE"] Nebraska
	        option[value="NV"] Nevada
	        option[value="NH"] New Hampshire
	        option[value="NJ"] New Jersey
	        option[value="NM"] New Mexico
	        option[value="NY"] New York
	        option[value="NC"] North Carolina
	        option[value="ND"] North Dakota
	        option[value="OH"] Ohio
	        option[value="OK"] Oklahoma
	        option[value="OR"] Oregon
	        option[value="PA"] Pennsylvania
	        option[value="RI"] Rhode Island
	        option[value="SC"] South Carolina
	        option[value="SD"] South Dakota
	        option[value="TN"] Tennessee
	        option[value="TX"] Texas
	        option[value="UT"] Utah
	        option[value="VT"] Vermont
	        option[value="VA"] Virginia
	        option[value="WA"] Washington
	        option[value="WV"] West Virginia
	        option[value="WI"] Wisconsin
	        option[value="WY"] Wyoming
      .pure-u-1.pure-u-md-1-2
        label[for="contact-zip-code"] zip-code (optional)
        input#contact-zip-code.pure-u-23-24[type="text" placeholder="12345" name="contact-zip-code"]
      .pure-u-1.pure-u-md-1-2
        label[for="contact-country"] country (optional)
        select#contact-country.pure-u-23-24[name="contact-country"]
          option[value=""]
	        option[value="US"] United States
	        option[value="AF"] Afghanistan
	        option[value="AX"] Åland Islands
	        option[value="AL"] Albania
	        option[value="DZ"] Algeria
	        option[value="AS"] American Samoa
	        option[value="AD"] Andorra
	        option[value="AO"] Angola
	        option[value="AI"] Anguilla
	        option[value="AQ"] Antarctica
	        option[value="AG"] Antigua and Barbuda
	        option[value="AR"] Argentina
	        option[value="AM"] Armenia
	        option[value="AW"] Aruba
	        option[value="AU"] Australia
	        option[value="AT"] Austria
	        option[value="AZ"] Azerbaijan
	        option[value="BS"] Bahamas
	        option[value="BH"] Bahrain
	        option[value="BD"] Bangladesh
	        option[value="BB"] Barbados
	        option[value="BY"] Belarus
	        option[value="BE"] Belgium
	        option[value="BZ"] Belize
	        option[value="BJ"] Benin
	        option[value="BM"] Bermuda
	        option[value="BT"] Bhutan
	        option[value="BO"] Bolivia, Plurinational State of
	        option[value="BQ"] Bonaire, Sint Eustatius and Saba
	        option[value="BA"] Bosnia and Herzegovina
	        option[value="BW"] Botswana
	        option[value="BV"] Bouvet Island
	        option[value="BR"] Brazil
	        option[value="IO"] British Indian Ocean Territory
	        option[value="BN"] Brunei Darussalam
	        option[value="BG"] Bulgaria
	        option[value="BF"] Burkina Faso
	        option[value="BI"] Burundi
	        option[value="KH"] Cambodia
	        option[value="CM"] Cameroon
	        option[value="CA"] Canada
	        option[value="CV"] Cape Verde
	        option[value="KY"] Cayman Islands
	        option[value="CF"] Central African Republic
	        option[value="TD"] Chad
	        option[value="CL"] Chile
	        option[value="CN"] China
	        option[value="CX"] Christmas Island
	        option[value="CC"] Cocos (Keeling) Islands
	        option[value="CO"] Colombia
	        option[value="KM"] Comoros
	        option[value="CG"] Congo
	        option[value="CD"] Congo, the Democratic Republic of the
	        option[value="CK"] Cook Islands
	        option[value="CR"] Costa Rica
	        option[value="CI"] Côte d'Ivoire
	        option[value="HR"] Croatia
	        option[value="CU"] Cuba
	        option[value="CW"] Curaçao
	        option[value="CY"] Cyprus
	        option[value="CZ"] Czech Republic
	        option[value="DK"] Denmark
	        option[value="DJ"] Djibouti
	        option[value="DM"] Dominica
	        option[value="DO"] Dominican Republic
	        option[value="EC"] Ecuador
	        option[value="EG"] Egypt
	        option[value="SV"] El Salvador
	        option[value="GQ"] Equatorial Guinea
	        option[value="ER"] Eritrea
	        option[value="EE"] Estonia
	        option[value="ET"] Ethiopia
	        option[value="FK"] Falkland Islands (Malvinas)
	        option[value="FO"] Faroe Islands
	        option[value="FJ"] Fiji
	        option[value="FI"] Finland
	        option[value="FR"] France
	        option[value="GF"] French Guiana
	        option[value="PF"] French Polynesia
	        option[value="TF"] French Southern Territories
	        option[value="GA"] Gabon
	        option[value="GM"] Gambia
	        option[value="GE"] Georgia
	        option[value="DE"] Germany
	        option[value="GH"] Ghana
	        option[value="GI"] Gibraltar
	        option[value="GR"] Greece
	        option[value="GL"] Greenland
	        option[value="GD"] Grenada
	        option[value="GP"] Guadeloupe
	        option[value="GU"] Guam
	        option[value="GT"] Guatemala
	        option[value="GG"] Guernsey
	        option[value="GN"] Guinea
	        option[value="GW"] Guinea-Bissau
	        option[value="GY"] Guyana
	        option[value="HT"] Haiti
	        option[value="HM"] Heard Island and McDonald Islands
	        option[value="VA"] Holy See (Vatican City State)
	        option[value="HN"] Honduras
	        option[value="HK"] Hong Kong
	        option[value="HU"] Hungary
	        option[value="IS"] Iceland
	        option[value="IN"] India
	        option[value="ID"] Indonesia
	        option[value="IR"] Iran, Islamic Republic of
	        option[value="IQ"] Iraq
	        option[value="IE"] Ireland
	        option[value="IM"] Isle of Man
	        option[value="IL"] Israel
	        option[value="IT"] Italy
	        option[value="JM"] Jamaica
	        option[value="JP"] Japan
	        option[value="JE"] Jersey
	        option[value="JO"] Jordan
	        option[value="KZ"] Kazakhstan
	        option[value="KE"] Kenya
	        option[value="KI"] Kiribati
	        option[value="KP"] Korea, Democratic People's Republic of
	        option[value="KR"] Korea, Republic of
	        option[value="KW"] Kuwait
	        option[value="KG"] Kyrgyzstan
	        option[value="LA"] Lao People's Democratic Republic
	        option[value="LV"] Latvia
	        option[value="LB"] Lebanon
	        option[value="LS"] Lesotho
	        option[value="LR"] Liberia
	        option[value="LY"] Libya
	        option[value="LI"] Liechtenstein
	        option[value="LT"] Lithuania
	        option[value="LU"] Luxembourg
	        option[value="MO"] Macao
	        option[value="MK"] Macedonia, the former Yugoslav Republic of
	        option[value="MG"] Madagascar
	        option[value="MW"] Malawi
	        option[value="MY"] Malaysia
	        option[value="MV"] Maldives
	        option[value="ML"] Mali
	        option[value="MT"] Malta
	        option[value="MH"] Marshall Islands
	        option[value="MQ"] Martinique
	        option[value="MR"] Mauritania
	        option[value="MU"] Mauritius
	        option[value="YT"] Mayotte
	        option[value="MX"] Mexico
	        option[value="FM"] Micronesia, Federated States of
	        option[value="MD"] Moldova, Republic of
	        option[value="MC"] Monaco
	        option[value="MN"] Mongolia
	        option[value="ME"] Montenegro
	        option[value="MS"] Montserrat
	        option[value="MA"] Morocco
	        option[value="MZ"] Mozambique
	        option[value="MM"] Myanmar
	        option[value="NA"] Namibia
	        option[value="NR"] Nauru
	        option[value="NP"] Nepal
	        option[value="NL"] Netherlands
	        option[value="NC"] New Caledonia
	        option[value="NZ"] New Zealand
	        option[value="NI"] Nicaragua
	        option[value="NE"] Niger
	        option[value="NG"] Nigeria
	        option[value="NU"] Niue
	        option[value="NF"] Norfolk Island
	        option[value="MP"] Northern Mariana Islands
	        option[value="NO"] Norway
	        option[value="OM"] Oman
	        option[value="PK"] Pakistan
	        option[value="PW"] Palau
	        option[value="PS"] Palestinian Territory, Occupied
	        option[value="PA"] Panama
	        option[value="PG"] Papua New Guinea
	        option[value="PY"] Paraguay
	        option[value="PE"] Peru
	        option[value="PH"] Philippines
	        option[value="PN"] Pitcairn
	        option[value="PL"] Poland
	        option[value="PT"] Portugal
	        option[value="PR"] Puerto Rico
	        option[value="QA"] Qatar
	        option[value="RE"] Réunion
	        option[value="RO"] Romania
	        option[value="RU"] Russian Federation
	        option[value="RW"] Rwanda
	        option[value="BL"] Saint Barthélemy
	        option[value="SH"] Saint Helena, Ascension and Tristan da Cunha
	        option[value="KN"] Saint Kitts and Nevis
	        option[value="LC"] Saint Lucia
	        option[value="MF"] Saint Martin (French part)
	        option[value="PM"] Saint Pierre and Miquelon
	        option[value="VC"] Saint Vincent and the Grenadines
	        option[value="WS"] Samoa
	        option[value="SM"] San Marino
	        option[value="ST"] Sao Tome and Principe
	        option[value="SA"] Saudi Arabia
	        option[value="SN"] Senegal
	        option[value="RS"] Serbia
	        option[value="SC"] Seychelles
	        option[value="SL"] Sierra Leone
	        option[value="SG"] Singapore
	        option[value="SX"] Sint Maarten (Dutch part)
	        option[value="SK"] Slovakia
	        option[value="SI"] Slovenia
	        option[value="SB"] Solomon Islands
	        option[value="SO"] Somalia
	        option[value="ZA"] South Africa
	        option[value="GS"] South Georgia and the South Sandwich Islands
	        option[value="SS"] South Sudan
	        option[value="ES"] Spain
	        option[value="LK"] Sri Lanka
	        option[value="SD"] Sudan
	        option[value="SR"] Suriname
	        option[value="SJ"] Svalbard and Jan Mayen
	        option[value="SZ"] Swaziland
	        option[value="SE"] Sweden
	        option[value="CH"] Switzerland
	        option[value="SY"] Syrian Arab Republic
	        option[value="TW"] Taiwan, Province of China
	        option[value="TJ"] Tajikistan
	        option[value="TZ"] Tanzania, United Republic of
	        option[value="TH"] Thailand
	        option[value="TL"] Timor-Leste
	        option[value="TG"] Togo
	        option[value="TK"] Tokelau
	        option[value="TO"] Tonga
	        option[value="TT"] Trinidad and Tobago
	        option[value="TN"] Tunisia
	        option[value="TR"] Turkey
	        option[value="TM"] Turkmenistan
	        option[value="TC"] Turks and Caicos Islands
	        option[value="TV"] Tuvalu
	        option[value="UG"] Uganda
	        option[value="UA"] Ukraine
	        option[value="AE"] United Arab Emirates
	        option[value="GB"] United Kingdom
	        option[value="UM"] United States Minor Outlying Islands
	        option[value="UY"] Uruguay
	        option[value="UZ"] Uzbekistan
	        option[value="VU"] Vanuatu
	        option[value="VE"] Venezuela, Bolivarian Republic of
	        option[value="VN"] Viet Nam
	        option[value="VG"] Virgin Islands, British
	        option[value="VI"] Virgin Islands, U.S.
	        option[value="WF"] Wallis and Futuna
	        option[value="EH"] Western Sahara
	        option[value="YE"] Yemen
	        option[value="ZM"] Zambia
	        option[value="ZW"] Zimbabwe
  fieldset
    legend Donation
    .pure-g
      .pure-u-1.pure-u-md-1-2
        label.pure-radio[for="donation-type-recurring"]
          strong Recurring Donation
        input#donation-type-recurring[type="radio" required name="donation-type" selected value="recurring"]  recurring donation of specified amount
        #recurring.reveal-if-active
          label[for="donation-type-recurring-amount"] amount (USD)
          select#donation-type-recurring-amount.pure-u-23-24.require-if-active[name="donation-type-recurring-amount"]
            option[value="5"] $5
            option[value="10"] $10
            option[value="25"] $25
            option[value="50" selected] $50
            option[value="100"] $100
            option[value="250"] $250
            option[value="500"] $500
            option[value="1000"] $1000
          label[for="donation-type-recurring-recur"] recur
          select#donation-type-recurring-recur.pure-u-23-24.require-if-active[name="donation-type-recurring-recur"]
            option[value="month" selected] Monthly
            option[value="quarter"] Quarterly
            option[value="biannual"] Biannually
            option[value="year"] Yearly
      .pure-u-1.pure-u-md-1-2
        label.pure-radio[for="donation-type-single"]
          strong Single Donation
        input#donation-type-single[type="radio" required name="donation-type" value="single"]  single donation of custom amount
        #single.reveal-if-active
          label[for="donation-type-single-price"] custom price (USD)
          input#donation-type-single-price.pure-u-23-24.require-if-active[type="text" placeholder="10.00" data-require-pair="#donation-type-single" name="donation-type-single-price"]
          label.pure-checkbox[for="donation-type-single-email"]
            input#donation-type-single-email[type="checkbox" name="donation-type-single-email"]  I want to set a custom recurring plan, please contact me
  fieldset
    legend Billing and Card Information
    .pure-g
      .pure-u-1.pure-u-md-1-2
        label[for="billing-card-number"] card number
        input#billing-card-number.pure-u-23-24[type="text" required placeholder="4242424242424242" data-stripe="number"]
      .pure-u-1-2.pure-u-md-1-4
        label[for="billing-card-number"] card expiry
        input#billing-card-expiry.pure-u-23-24[type="text" required placeholder="09/19" data-stripe="exp"]
      .pure-u-1-2.pure-u-md-1-4
        label[for="billing-card-cvc"] security code (cvc)
        input#billing-card-cvc.pure-u-23-24[type="text" required placeholder="123" data-stripe="cvc"]
      .pure-u-1.pure-u-md-1-2
        label[for="billing-card-name"] cardholder name
        input#billing-card-name.pure-u-23-24[type="text" required placeholder="John Doe" data-stripe="name"]
      br
      .pure-u-1.pure-u-md-1-2
        label[for="billing-address-1"] street address line 1
        input#billing-address-1.pure-u-23-24[type="text" placeholder="123 Hickory Road" required data-stripe="address_line1"]
      .pure-u-1.pure-u-md-1-2
        label[for="billing-address-2"] street address line 2 (optional)
        input#billing-address-2.pure-u-23-24[type="text" placeholder="Unit 2" data-stripe="address_line2"]
      .pure-u-1.pure-u-md-1-2
        label[for="billing-city"] city
        input#billing-city.pure-u-23-24[type="text" placeholder="Newsville" required data-stripe="address_city"]
      .pure-u-1.pure-u-md-1-2
        label[for="billing-state"] state
        select#billing-state.pure-u-23-24[required data-stripe="address-state"]
          option[value=""]
          option[value="AL"] Alabama
          option[value="AK"] Alaska
          option[value="AZ"] Arizona
          option[value="AR"] Arkansas
          option[value="CA"] California
          option[value="CO"] Colorado
          option[value="CT"] Connecticut
          option[value="DE"] Delaware
          option[value="DC"] District Of Columbia
          option[value="FL"] Florida
          option[value="GA"] Georgia
          option[value="HI"] Hawaii
          option[value="ID"] Idaho
          option[value="IL"] Illinois
          option[value="IN"] Indiana
          option[value="IA"] Iowa
          option[value="KS"] Kansas
          option[value="KY"] Kentucky
          option[value="LA"] Louisiana
          option[value="ME"] Maine
          option[value="MD"] Maryland
          option[value="MA"] Massachusetts
          option[value="MI"] Michigan
          option[value="MN"] Minnesota
          option[value="MS"] Mississippi
          option[value="MO"] Missouri
          option[value="MT"] Montana
          option[value="NE"] Nebraska
          option[value="NV"] Nevada
          option[value="NH"] New Hampshire
          option[value="NJ"] New Jersey
          option[value="NM"] New Mexico
          option[value="NY"] New York
          option[value="NC"] North Carolina
          option[value="ND"] North Dakota
          option[value="OH"] Ohio
          option[value="OK"] Oklahoma
          option[value="OR"] Oregon
          option[value="PA"] Pennsylvania
          option[value="RI"] Rhode Island
          option[value="SC"] South Carolina
          option[value="SD"] South Dakota
          option[value="TN"] Tennessee
          option[value="TX"] Texas
          option[value="UT"] Utah
          option[value="VT"] Vermont
          option[value="VA"] Virginia
          option[value="WA"] Washington
          option[value="WV"] West Virginia
          option[value="WI"] Wisconsin
          option[value="WY"] Wyoming
      .pure-u-1.pure-u-md-1-2
        label[for="billing-zip-code"] zip-code
        input#billing-zip-code.pure-u-23-24[type="text" required placeholder="12345" data-stripe="address_zip"]
      .pure-u-1.pure-u-md-1-2
        label[for="billing-country"] country
        select#billing-country.pure-u-23-24[data-stripe="address-country" required]
          option[value=""]
          option[value="US"] United States
          option[value="AF"] Afghanistan
          option[value="AX"] Åland Islands
          option[value="AL"] Albania
          option[value="DZ"] Algeria
          option[value="AS"] American Samoa
          option[value="AD"] Andorra
          option[value="AO"] Angola
          option[value="AI"] Anguilla
          option[value="AQ"] Antarctica
          option[value="AG"] Antigua and Barbuda
          option[value="AR"] Argentina
          option[value="AM"] Armenia
          option[value="AW"] Aruba
          option[value="AU"] Australia
          option[value="AT"] Austria
          option[value="AZ"] Azerbaijan
          option[value="BS"] Bahamas
          option[value="BH"] Bahrain
          option[value="BD"] Bangladesh
          option[value="BB"] Barbados
          option[value="BY"] Belarus
          option[value="BE"] Belgium
          option[value="BZ"] Belize
          option[value="BJ"] Benin
          option[value="BM"] Bermuda
          option[value="BT"] Bhutan
          option[value="BO"] Bolivia, Plurinational State of
          option[value="BQ"] Bonaire, Sint Eustatius and Saba
          option[value="BA"] Bosnia and Herzegovina
          option[value="BW"] Botswana
          option[value="BV"] Bouvet Island
          option[value="BR"] Brazil
          option[value="IO"] British Indian Ocean Territory
          option[value="BN"] Brunei Darussalam
          option[value="BG"] Bulgaria
          option[value="BF"] Burkina Faso
          option[value="BI"] Burundi
          option[value="KH"] Cambodia
          option[value="CM"] Cameroon
          option[value="CA"] Canada
          option[value="CV"] Cape Verde
          option[value="KY"] Cayman Islands
          option[value="CF"] Central African Republic
          option[value="TD"] Chad
          option[value="CL"] Chile
          option[value="CN"] China
          option[value="CX"] Christmas Island
          option[value="CC"] Cocos (Keeling) Islands
          option[value="CO"] Colombia
          option[value="KM"] Comoros
          option[value="CG"] Congo
          option[value="CD"] Congo, the Democratic Republic of the
          option[value="CK"] Cook Islands
          option[value="CR"] Costa Rica
          option[value="CI"] Côte d'Ivoire
          option[value="HR"] Croatia
          option[value="CU"] Cuba
          option[value="CW"] Curaçao
          option[value="CY"] Cyprus
          option[value="CZ"] Czech Republic
          option[value="DK"] Denmark
          option[value="DJ"] Djibouti
          option[value="DM"] Dominica
          option[value="DO"] Dominican Republic
          option[value="EC"] Ecuador
          option[value="EG"] Egypt
          option[value="SV"] El Salvador
          option[value="GQ"] Equatorial Guinea
          option[value="ER"] Eritrea
          option[value="EE"] Estonia
          option[value="ET"] Ethiopia
          option[value="FK"] Falkland Islands (Malvinas)
          option[value="FO"] Faroe Islands
          option[value="FJ"] Fiji
          option[value="FI"] Finland
          option[value="FR"] France
          option[value="GF"] French Guiana
          option[value="PF"] French Polynesia
          option[value="TF"] French Southern Territories
          option[value="GA"] Gabon
          option[value="GM"] Gambia
          option[value="GE"] Georgia
          option[value="DE"] Germany
          option[value="GH"] Ghana
          option[value="GI"] Gibraltar
          option[value="GR"] Greece
          option[value="GL"] Greenland
          option[value="GD"] Grenada
          option[value="GP"] Guadeloupe
          option[value="GU"] Guam
          option[value="GT"] Guatemala
          option[value="GG"] Guernsey
          option[value="GN"] Guinea
          option[value="GW"] Guinea-Bissau
          option[value="GY"] Guyana
          option[value="HT"] Haiti
          option[value="HM"] Heard Island and McDonald Islands
          option[value="VA"] Holy See (Vatican City State)
          option[value="HN"] Honduras
          option[value="HK"] Hong Kong
          option[value="HU"] Hungary
          option[value="IS"] Iceland
          option[value="IN"] India
          option[value="ID"] Indonesia
          option[value="IR"] Iran, Islamic Republic of
          option[value="IQ"] Iraq
          option[value="IE"] Ireland
          option[value="IM"] Isle of Man
          option[value="IL"] Israel
          option[value="IT"] Italy
          option[value="JM"] Jamaica
          option[value="JP"] Japan
          option[value="JE"] Jersey
          option[value="JO"] Jordan
          option[value="KZ"] Kazakhstan
          option[value="KE"] Kenya
          option[value="KI"] Kiribati
          option[value="KP"] Korea, Democratic People's Republic of
          option[value="KR"] Korea, Republic of
          option[value="KW"] Kuwait
          option[value="KG"] Kyrgyzstan
          option[value="LA"] Lao People's Democratic Republic
          option[value="LV"] Latvia
          option[value="LB"] Lebanon
          option[value="LS"] Lesotho
          option[value="LR"] Liberia
          option[value="LY"] Libya
          option[value="LI"] Liechtenstein
          option[value="LT"] Lithuania
          option[value="LU"] Luxembourg
          option[value="MO"] Macao
          option[value="MK"] Macedonia, the former Yugoslav Republic of
          option[value="MG"] Madagascar
          option[value="MW"] Malawi
          option[value="MY"] Malaysia
          option[value="MV"] Maldives
          option[value="ML"] Mali
          option[value="MT"] Malta
          option[value="MH"] Marshall Islands
          option[value="MQ"] Martinique
          option[value="MR"] Mauritania
          option[value="MU"] Mauritius
          option[value="YT"] Mayotte
          option[value="MX"] Mexico
          option[value="FM"] Micronesia, Federated States of
          option[value="MD"] Moldova, Republic of
          option[value="MC"] Monaco
          option[value="MN"] Mongolia
          option[value="ME"] Montenegro
          option[value="MS"] Montserrat
          option[value="MA"] Morocco
          option[value="MZ"] Mozambique
          option[value="MM"] Myanmar
          option[value="NA"] Namibia
          option[value="NR"] Nauru
          option[value="NP"] Nepal
          option[value="NL"] Netherlands
          option[value="NC"] New Caledonia
          option[value="NZ"] New Zealand
          option[value="NI"] Nicaragua
          option[value="NE"] Niger
          option[value="NG"] Nigeria
          option[value="NU"] Niue
          option[value="NF"] Norfolk Island
          option[value="MP"] Northern Mariana Islands
          option[value="NO"] Norway
          option[value="OM"] Oman
          option[value="PK"] Pakistan
          option[value="PW"] Palau
          option[value="PS"] Palestinian Territory, Occupied
          option[value="PA"] Panama
          option[value="PG"] Papua New Guinea
          option[value="PY"] Paraguay
          option[value="PE"] Peru
          option[value="PH"] Philippines
          option[value="PN"] Pitcairn
          option[value="PL"] Poland
          option[value="PT"] Portugal
          option[value="PR"] Puerto Rico
          option[value="QA"] Qatar
          option[value="RE"] Réunion
          option[value="RO"] Romania
          option[value="RU"] Russian Federation
          option[value="RW"] Rwanda
          option[value="BL"] Saint Barthélemy
          option[value="SH"] Saint Helena, Ascension and Tristan da Cunha
          option[value="KN"] Saint Kitts and Nevis
          option[value="LC"] Saint Lucia
          option[value="MF"] Saint Martin (French part)
          option[value="PM"] Saint Pierre and Miquelon
          option[value="VC"] Saint Vincent and the Grenadines
          option[value="WS"] Samoa
          option[value="SM"] San Marino
          option[value="ST"] Sao Tome and Principe
          option[value="SA"] Saudi Arabia
          option[value="SN"] Senegal
          option[value="RS"] Serbia
          option[value="SC"] Seychelles
          option[value="SL"] Sierra Leone
          option[value="SG"] Singapore
          option[value="SX"] Sint Maarten (Dutch part)
          option[value="SK"] Slovakia
          option[value="SI"] Slovenia
          option[value="SB"] Solomon Islands
          option[value="SO"] Somalia
          option[value="ZA"] South Africa
          option[value="GS"] South Georgia and the South Sandwich Islands
          option[value="SS"] South Sudan
          option[value="ES"] Spain
          option[value="LK"] Sri Lanka
          option[value="SD"] Sudan
          option[value="SR"] Suriname
          option[value="SJ"] Svalbard and Jan Mayen
          option[value="SZ"] Swaziland
          option[value="SE"] Sweden
          option[value="CH"] Switzerland
          option[value="SY"] Syrian Arab Republic
          option[value="TW"] Taiwan, Province of China
          option[value="TJ"] Tajikistan
          option[value="TZ"] Tanzania, United Republic of
          option[value="TH"] Thailand
          option[value="TL"] Timor-Leste
          option[value="TG"] Togo
          option[value="TK"] Tokelau
          option[value="TO"] Tonga
          option[value="TT"] Trinidad and Tobago
          option[value="TN"] Tunisia
          option[value="TR"] Turkey
          option[value="TM"] Turkmenistan
          option[value="TC"] Turks and Caicos Islands
          option[value="TV"] Tuvalu
          option[value="UG"] Uganda
          option[value="UA"] Ukraine
          option[value="AE"] United Arab Emirates
          option[value="GB"] United Kingdom
          option[value="UM"] United States Minor Outlying Islands
          option[value="UY"] Uruguay
          option[value="UZ"] Uzbekistan
          option[value="VU"] Vanuatu
          option[value="VE"] Venezuela, Bolivarian Republic of
          option[value="VN"] Viet Nam
          option[value="VG"] Virgin Islands, British
          option[value="VI"] Virgin Islands, U.S.
          option[value="WF"] Wallis and Futuna
          option[value="EH"] Western Sahara
          option[value="YE"] Yemen
          option[value="ZM"] Zambia
          option[value="ZW"] Zimbabwe
  span#payment-message.pure-u-1.pure-button
  button.pure-button.button-secondary.pure-u-1#submit[type="submit"] Submit

script[type="text/javascript" src="https://js.stripe.com/v2/"]
| {% javascript jquery.min.js %}
| {% javascript form.js %}
| {% javascript donation.js %}
